@import 'nib'

body
	font-family: Helvetica
	background: #f4f4f7
	color: #444
	margin: 0
	padding: 2rem 3rem
	font-size: 0.9rem

small
	color: #999
	display: inline-block
	margin: 0.2rem 0

.image-zoom
	overflow: hidden
	font-size: 0
	border: 1px solid #444

	.image-zoom-image
		display: inline-block
		overflow: hidden
		width: 100%

	&:-webkit-full-screen
		width: 100% !important
		height: 100% !important
		background: #000
		border: none

.image-zoom.mono
	width: 50%

.image-zoom.stereo
	width: 100%

	.image-zoom-image
		width: 50%

	&:-webkit-full-screen
		cursor: none

		.image-zoom-image
			height: 100% !important

	&[mode="cross-eye"]

		.image-zoom-image:first-child
			transform: translate3d(100%, 0, 0)

		.image-zoom-image:last-child
			transform: translate3d(-100%, 0, 0)

	&[mode="3d-tv"]:-webkit-full-screen

		.image-zoom-image
			width: 100% !important

		.image-zoom-image:first-child
			transform: scale(0.5, 1) translate3d(-50%, 0%, 0)

		.image-zoom-image:last-child
			transform: scale(0.5, 1) translate3d(50%, -100%, 0)
