@import 'nib'

body
	font-family: Helvetica
	background: #f4f4f7
	color: #444
	margin: 0
	padding: 2rem 3rem
	font-size: 0.9rem

small
	color: #999

.image-zoom
	overflow: hidden
	font-size: 0

	.image-zoom-image
		display: inline-block
		overflow: hidden
		width: 100%

	&:-webkit-full-screen
		width: 100% !important
		height: 100% !important
		background: #000

.image-zoom.mono
	width: 50%

.image-zoom.stereo
	width: 100%

	.image-zoom-image
		width: 50%

	&:-webkit-full-screen
		cursor: none

		.image-zoom-image
			height: 100% !important
