doctype
html(ng-app="image-zoom")
	head
		meta(charset="utf-8")
		title Image zoom
		link(rel="stylesheet", href="/styles/all.css")
		script(src="/scripts/vendor.js")
		script(src="/scripts/all.js")
	body(ng-controller="MainCtrl as main")

		image-zoom(image="/images/{{ main.image }}")
		small Click &rarr; fullscreen, mousewheel &rarr; zoom, webkit only for now
		button(ng-click="main.changeImage()") Change image

		br
		br

		image-zoom(left="/images/test-left.jpg", right="/images/test-right.jpg")
