doctype
html(ng-app="image-zoom")
	head
		meta(charset="utf-8")
		title Image zoom
		link(rel="stylesheet", href="/styles/all.css")
		script(src="/scripts/vendor.js")
		script(src="/scripts/all.js")
	body(ng-controller="MainCtrl as main", ng-keydown="onKeydown($event)")

		//- image-zoom(image="/{{ main.image }}-left.jpg", ng-if="main.image")

		image-zoom(left="{{ main.image }}-left.jpg", right="{{ main.image }}-right.jpg", mode="{{ main.mode }}", ng-if="main.image")

		small
			| Click &rarr; fullscreen,
			| mousewheel &rarr; zoom,
			| arrows &rarr; change image,
			| m &rarr; change mode (current {{ main.mode }})
			br
			| Note: tested only on chrome
